<!-- Include Header -->
<%- include panel-layout/header-input.ejs %>

<!-- Include Body -->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#"><img src="/panel-assets/img/logo/logo-auiss.png" alt="" style="height:40px"/></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
                            <li class="nav-item dropdown">
                            <form action="/logout" method="POST">
                                <input type="image" src="/panel-assets/images/logout.png" style="height:30px; margin-top:18px" alt="Submit" />
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->

    <!-- Mobile Menu start -->
    <!-- <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a href="#">Dashboard</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demodepart" href="#">Tables</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a href="data-alumni.html">Data Alumni</a></li>
                                        <li><a href="#">Data Siswa</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Forms</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="#">Input Data Alumni</a></li>
                                        <li><a href="#">Input Data Siswa</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Mobile Menu end -->

    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                        </li>
                        <li><a data-toggle="tab" href="#Tables"><i class="notika-icon notika-windows"></i> Data Tables</a>
                        </li>
                        <li><a data-toggle="tab" href="#Forms"><i class="notika-icon notika-form"></i> Forms</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane active in notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="#"><b>Dashboard</b></a>
                                </li>
                            </ul>
                        </div>
                        <div id="Tables" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/alumni">Data Alumni</a>
                                </li>
                                <li><a href="/student">Data Student</a>
                                </li>
                            </ul>
                        </div>
                        <div id="Forms" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/alumni/input">Input Data Alumni</a>
                                </li>
                                <li><a href="/student/input">Input Data Student</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->

    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter"><%= alumniData %></span></h2>
                            <p>Total of <b>Alumni</b> Data.</p>
                        </div>
                        <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter"><%= studentData %></span></h2>
                            <p>Total of <b>Student</b> Data.</p>
                        </div>
                        <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Status area-->

    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
                        <div class="past-day-statis">
                            <h2>Student Statistic</h2>
                            <p>Statistic of Student in Degree Module.</p>
                        </div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter"><%= studentDegreeITData %></span></h3>
                                <p>Degree in <b>Information Technology</b>. - Include: <b>Software Engineering</b> and <b>Multimedia</b></p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-bar"></div>
                            </div>
                        </div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter"><%= studentDegreeBusinessData %></span></h3>
                                <p>Degree in <b>Business</b>.</p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-line"></div>
                            </div>
                        </div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter"><%= studentDegreeEngineering %></span></h3>
                                <p>Degree in <b>Engineering</b>.</p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-bar-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale Statistic area-->

    <!-- Start Email Statistic area-->
    <div class="notika-email-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-7 col-xs-12">
                    <div class="email-statis-inner notika-shadow">
                        <div class="email-ctn-round">
                            <div class="email-rdn-hd">
								<h2>Alumni Job Statistic</h2>
							</div>
                            <div class="email-statis-wrap">
                                <div class="email-round-nock">
                                    <input type="text" class="knob" value="0" data-rel="55" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true">
                                </div>
                                <div class="email-ctn-nock">
                                    <p>Information Technology</p>
                                </div>
                            </div>
                            <div class="email-round-gp">
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="75" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Business</p>
                                    </div>
                                </div>
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="35" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Multimedia</p>
                                    </div>
                                </div>
                                <div class="email-round-pro sm-res-ds-n lg-res-mg-bl">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="45" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Engineering</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Overal Student Status -->
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                    <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="recent-post-ctn">
                            <div class="past-day-statis">
                                <h2>Overal Student Status</h2>
                                <p>Student Data based on Status.</p>
                            </div>
                        </div>
                        <div class="recent-post-items">
                            <div class="recent-post-signle rct-pt-mg-wp">
                                <a href="#">
                                    <div class="recent-post-flex">
                                        <div class="recent-post-it-ctn">
                                            <h2>Foundation</h2>
                                            <p><%= studentDataFoundation %> Student</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>Diploma</h2>
                                            <p><%= studentDataDiploma %> Student</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>Degree</h2>
                                            <p><%= studentDataDegree %> Student</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>Master</h2>
                                            <p><%= studentDataMaster %> Student</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>PhD</h2>
                                            <p><%= studentDataPhD %> Student</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Overal Alumni Status -->
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                    <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="recent-post-ctn">
                            <div class="past-day-statis">
                                <h2>Overal Alumni Status</h2>
                                <p>Alumni Data based on Status.</p>
                            </div>
                        </div>
                        <div class="recent-post-items">
                            <div class="recent-post-signle rct-pt-mg-wp">
                                <a href="#">
                                    <div class="recent-post-flex">
                                        <div class="recent-post-it-ctn">
                                            <h2>Foundation</h2>
                                            <p><%= alumniDataFoundation %> Alumni</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>Diploma</h2>
                                            <p><%= alumniDataDiploma %> Alumni</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>Degree</h2>
                                            <p><%= alumniDataDegree %> Alumni</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>Master</h2>
                                            <p><%= alumniDataMaster %> Alumni</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-it-ctn">
                                            <h2>PhD</h2>
                                            <p><%= alumniDataPhD %> Alumni</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Email Statistic area-->

    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2019 . All rights reserved. <b>MetroTech Digital Asia</b>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->

    <!-- jquery
		============================================ -->
    <script src="/panel-assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/panel-assets/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/panel-assets/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/panel-assets/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/panel-assets/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/panel-assets/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/panel-assets/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/panel-assets/js/counterup/jquery.counterup.min.js"></script>
    <script src="/panel-assets/js/counterup/waypoints.min.js"></script>
    <script src="/panel-assets/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/panel-assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/panel-assets/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/panel-assets/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
		============================================ -->
    <script src="/panel-assets/js/flot/jquery.flot.js"></script>
    <script src="/panel-assets/js/flot/jquery.flot.resize.js"></script>
    <script src="/panel-assets/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="/panel-assets/js/knob/jquery.knob.js"></script>
    <script src="/panel-assets/js/knob/jquery.appear.js"></script>
    <script src="/panel-assets/js/knob/knob-active.js"></script>
    <!-- Input Mask JS
		============================================ -->
    <script src="/panel-assets/js/jasny-bootstrap.min.js"></script>
    <!-- icheck JS
		============================================ -->
    <script src="/panel-assets/js/icheck/icheck.min.js"></script>
    <script src="/panel-assets/js/icheck/icheck-active.js"></script>
    <!-- rangle-slider JS
		============================================ -->
    <script src="/panel-assets/js/rangle-slider/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/panel-assets/js/rangle-slider/jquery-ui-touch-punch.min.js"></script>
    <script src="/panel-assets/js/rangle-slider/rangle-active.js"></script>
    <!-- datapicker JS
		============================================ -->
    <script src="/panel-assets/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="/panel-assets/js/datapicker/datepicker-active.js"></script>
    <!-- bootstrap select JS
		============================================ -->
    <script src="/panel-assets/js/bootstrap-select/bootstrap-select.js"></script>
    <!--  color-picker JS
		============================================ -->
    <script src="/panel-assets/js/color-picker/farbtastic.min.js"></script>
    <script src="/panel-assets/js/color-picker/color-picker.js"></script>
    <!--  notification JS
		============================================ -->
    <script src="/panel-assets/js/notification/bootstrap-growl.min.js"></script>
    <script src="/panel-assets/js/notification/notification-active.js"></script>
    <!--  summernote JS
		============================================ -->
    <script src="/panel-assets/js/summernote/summernote-updated.min.js"></script>
    <script src="/panel-assets/js/summernote/summernote-active.js"></script>
    <!-- dropzone JS
		============================================ -->
    <script src="/panel-assets/js/dropzone/dropzone.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="/panel-assets/js/wave/waves.min.js"></script>
    <script src="/panel-assets/js/wave/wave-active.js"></script>
    <!--  chosen JS
		============================================ -->
    <script src="/panel-assets/js/chosen/chosen.jquery.js"></script>
    <!--  Chat JS
		============================================ -->
    <script src="/panel-assets/js/chat/jquery.chat.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="/panel-assets/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/panel-assets/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/panel-assets/js/main.js"></script>

<!-- Include Footer -->
<%- include panel-layout/footer.ejs %>    